<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="main" class="wrapper">
        <a href="{{ site.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <script type="text/javascript">
        (function randomPage(min, max) {
          var num = Math.floor(Math.random() * (max - min +1)) + min;
          var x = document.createElement("OBJECT");
            x.setAttribute("data", "/" + num + ".html");
            x.setAttribute("width", "400");
            x.setAttribute("height", "320");
            x.setAttribute("display", "block");
            document.getElementById("main").appendChild(x);
        }(1, {{ site.posts.size }} ));
      </script>
    </div>
  </body>
</html>
